<form method="post" action="{% url 'events:squad_toggle_captain_role' event_pk squad_pk member_user_pk %}"
      hx-post="{% url 'events:squad_toggle_captain_role' event_pk squad_pk member_user_pk %}"
      hx-swap="outerHTML"
      class="inline">
  {% csrf_token %}
  {% if has_role %}
  <button type="submit" class="tooltip cursor-pointer bg-transparent border-0 p-0" data-tip="Click to remove captain role">
    <span class="text-success">&#10003;</span>
  </button>
  {% else %}
  <button type="submit" class="tooltip cursor-pointer bg-transparent border-0 p-0" data-tip="Click to add captain role">
    <span class="text-error">&#10007;</span>
  </button>
  {% endif %}
</form>
